*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build (unignored)
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

!public/build/


# --- VS Code ---
.vscode/
!.vscode/extensions.json   # (optionnel) on garde les recommandations d’extensions
# .vscode/launch.json et settings.json sont souvent perso → ignorés

# --- Laravel Vite ---
/public/build/
/public/hot

# --- Laravel Mix (ancien) ---
/public/mix-manifest.json